body {
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
  background-color: #353535;
}

h1 {
font-size:35px;
color: white;
}

p {
font-size:20px;
color: white;
}

a:link {
color: #00ffff
}

a:visited {
	color: #00ffff
}

a:hover {
	color: #00ffd4
}

#menu1 {
 display: inline;
 margin: 0;
 color: cyan;
}

#menu2 {
 display: inline;
 margin: 0;
 color: white;
}

#menu1:hover {
	color: #00ffd4
}
