@font-face {
	font-family: 'NotoSans-Regular';
	src: url('fonts/NotoSans-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

body {
	font-size: 20px;
	background-color: #1b1b2a;
	font-family: "NotoSans-Regular";
}

h1 {
	font-size:35px;
	color: white;
	text-align: center;
}

#avatar2 {
	text-align: center;
}

#avatar1 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 0px 30px #b200ff;
}

p {
	font-size:20px;
	color: white;
	text-align: center;
}

a:link {
	color: #fa00ff;
	margin-right: auto;
	margin-left: auto;
}

a:visited {
	color: #fa00ff;
	margin-right: auto;
	margin-left: auto;
}

a:hover {
	color: #c700ff;
	margin-right: auto;
	margin-left: auto;
}

#menu1 {
	color: #fa00ff;
}

#menu2 {
	color: #fa00ff;
}

#menu1:hover {
	color: #c700ff
}

#menu2:hover {
	color: #c700ff
}

#lang {
	right: 10px;
	top: 10px;
	opacity: 50%;
}

#discord-icon {
	top: 10px;
	color: #758DD8;
}

#twitter-icon {
	top: 75px;
	color: #0094ff;
}

#reddit-icon {
	top: 140px;
	color: #ff6a00;
}

#github-icon {
	top: 205px;
	color: #ffffff;
}

#youtube-icon {
	top: 270px;
	color: #ff0000;
}

#steam-icon {
	top: 335px;
	color: #ffffff;
}

#discord-icon, 
#twitter-icon, 
#reddit-icon, 
#github-icon, 
#youtube-icon, 
#steam-icon, 
#lang {
	transition-duration: 0.4s;
	position: absolute;
	font-size: 64px;
	cursor: pointer;
}

#discord-icon:hover, 
#twitter-icon:hover, 
#reddit-icon:hover, 
#github-icon:hover, 
#youtube-icon:hover, 
#steam-icon:hover, 
#lang:hover {
	transform: scale(0.85);
	color: white;
}

#avatar1 {
	border-radius: 15px;
	margin-left: auto;
	margin-right: auto;
}

#noscript {
	font-size: 20px;
	text-align: center;
	color: red;
}

#wallpaper {
	margin-right: auto;
	margin-left: auto;
	border-radius: 15px;
}

#wallpaper2 {
	text-align: center;
}

div {
	text-align: center;
}

body {
	animation-name: fade;
	animation-duration: 1.2s;
}

@keyframes fade {
	0% {
		opacity: 0%;
	}
	25% { 
		opacity: 25%;
	}
	50% {
		opacity: 50%;
	}
	75% {
		 opacity: 75%;
	}
	100% {
		opacity: 100%;
}
