body {
	font-family: "Noto Sans", sans-serif;
	font-size: 20px;
	background-color: #353535;
}

h1 {
	font-size:35px;
	color: white;
	text-align: center;
}

#avatar2 {
	text-align: center;
}

#avatar1 {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

p {
	font-size:20px;
	color: white;
	text-align: center;
}

a:link {
	color: #fa00ff;
	margin-right: auto;
	margin-left: auto;
}

a:visited {
	color: #fa00ff;
	margin-right: auto;
	margin-left: auto;
}

a:hover {
	color: #c700ff;
	margin-right: auto;
	margin-left: auto;
}

#menu1 {
	color: #fa00ff;
}

#menu2 {
	color: #fa00ff;
}

#menu1:hover {
	color: #c700ff
}

#menu2:hover {
	color: #c700ff
}

#lang {
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
	opacity: 50%;
}

#discord-icon {
	position: absolute;
	top: 10px;
	font-size: 64px;
	color: #758DD8;
	cursor: pointer;
}

#twitter-icon {
	position: absolute;
	top: 75px;
	font-size: 64px;
	color: #0094ff;
	cursor: pointer;
}

#reddit-icon {
	position: absolute;
	top: 140px;
	font-size: 64px;
	color: #ff6a00;
	cursor: pointer;
}

#github-icon {
	position: absolute;
	top: 205px;
	font-size: 64px;
	color: #ffffff;
	cursor: pointer;
}

#youtube-icon {
	position: absolute;
	top: 270px;
	font-size: 64px;
	color: #ff0000;
	cursor: pointer;
}

#steam-icon {
	position: absolute;
	top: 335px;
	font-size: 64px;
	color: #ffffff;
	cursor: pointer;
}

#avatar1 {
	border-radius: 15px;
	margin-left: auto;
	margin-right: auto;
}

#noscript {
	font-size: 20px;
	text-align: center;
	color: red;
}

#wallpaper {
	margin-right: auto;
	margin-left: auto;
	border-radius: 15px;
}

#wallpaper2 {
	text-align: center;
}

#all {
	font-size: 25px;
}

div {
	text-align: center;
}